/* banner.css */
.banner-container {
    background-image: url('../components/OIG.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom; /* Position the background image at the bottom */
    color: white;
    text-align: left;
    padding: 20px;
    height: 900px;
    font-family: manrope;
    position: relative; /* Add this for absolute positioning of the wave */
  }
  
  /* Create a wave-like shape at the bottom */
  .banner-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px; /* Adjust the height of the wave as needed */
    background: linear-gradient(to top, 50%, #2b2d65 50%);
    background-size: 100% 40px; /* Adjust the size to control the wave shape */
  }
  
  .banner-container h1 {
    margin-top: 300px;
    animation: slideIn 1s linear forwards;
    animation-delay: 2s; /* Delay the animation by 2 seconds */
    margin-left: 100px;
}

  
  .banner-container p{
    margin-left: 100px;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s; /* Delay the animation by 3 seconds */
  }
  
  .banner-container button {
    border: none;
    font-family: manrope;
    border-radius: 0.75rem;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3s; /* Delay the animation by 3 seconds */
    margin-left: 100px;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  