/* Default styles for larger screens */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo p {
  margin-left: 10px;
  font-size: x-large;
}

/* Styles for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
  }

  .header-logo {
    margin-bottom: 10px;
  }

  ul.nav {
    margin-top: 20px;
    text-align: center;
  }

  ul.nav li {
    margin-bottom: 10px;
  }
}
