body {
    margin: 0;
    background: linear-gradient(to bottom, #4e73df, #1e3a8a);
    font-family: 'Times New Roman', Times, serif;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .login-container {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  
  .login-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .login-button {
    width: 100%;
    background-color: #28a745; /* Green button color */
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .login-button:hover {
    background-color: #218838; /* Darker green color on hover */
  }
  